<!DOCTYPE html>
<html>
<head>
    <title>Add Internship</title>
</head>
<body>

<h2>➕ Add New Internship</h2>

<form action="/add_internship" method="POST">

    Internship Title:<br>
    <input type="text" name="title" required><br><br>

    Company:<br>
    <input type="text" name="company" required><br><br>

    State:<br>
    <input type="text" name="state" required><br><br>

    District:<br>
    <input type="text" name="district" required><br><br>

    Skills:<br>
    <input type="text" name="skills" required><br><br>

    Location:<br>
    <input type="text" name="location" required><br><br>

    Stipend:<br>
    <input type="text" name="stipend" required><br><br>

    Duration:<br>
    <input type="text" name="duration" required><br><br>

    Internship Type:<br>
    <input type="text" name="internship_type" required><br><br>

    Rating:<br>
    <input type="text" name="rating" required><br><br>
    
   Logo File Name:<br>
<input type="text" name="logo" placeholder="Example: aezion.png" required><br><br>

    Map Link:<br>
    <input type="text" name="map_link" required><br><br>

    Apply Link:<br>
    <input type="text" name="apply_link" required><br><br>

    <button type="submit">Add Internship</button>

</form>

<br>

<a href="/admin_dashboard">⬅ Back to Dashboard</a>

</body>
</html>